*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom,
    #009688 0vh,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 90vh);   
    height: 90vh; 
}
#main{
    height: 94vh;
    /* border: 1px solid red; */
    margin: 5vh auto;
}
.profilePicture{
    width: 80px;
    height: 80px;
}
.grey{
    color: grey;
}
.none{
    text-decoration: none;
    color: grey;
}
.notification{
    padding: 1% 5%;
    margin: 2px 2px;
}
.chat{
    height: 75vh;
    background-image: url(./img/mine.jpg);
    overflow-y: auto;
}
.sent{
    background-color: #15dfcb;           
}
.received{
    background-color: #fff;
}
.contacts{
    overflow-y: auto;
    height: 60vh;
}
